@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

body{
    border: 0;
    padding: 0;
    margin: 0;
}

.header-top{
    float: right;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100px;
    background-color: #EDF3F5;
    height: 80px;
    width: 95%;
}
.texto_ola{
    color: black;
    font-size: 30px;
    margin-right: 20px;
}



.botao_sair{
    justify-self: end;
    margin-bottom: 30px;
    margin-left: 30px;
}

.box_conteudo{
    height: 87.5vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    margin-left: 8.5%;
}

.box {
    height: 87.5vh;
    width: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 13.0mm;
    margin-bottom: 8vh;
    color: #551515;
}

.grafico {
    width: 48vw;
    height: 38vh;
    box-shadow: #551515 2px 5px 23px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(248, 248, 248);
}

.grafico div{
    height: 30px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 0%;
    transition: 0.5s;
    
}

#estavel {
    background-color: rgb(159, 255, 14);
}

#alerta {
    background-color: rgb(250, 246, 12);
}

#critico {
    background-color: #ff0000;
}

.box_alertas {
    width: 25vw;
    height: 80vh;
    box-shadow: #551515 2px 5px 23px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mensagens {
    height: 20%;
    width: 100%;
    border-bottom: 1px rgba(240, 240, 240, 0.808) dashed;
    background-color: #ffa2a2;
}

#mensagemUm {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    
}

#mensagemSeis {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.titulo_mensagem {
    font-size: 6mm;
    margin-left: 2%;
    margin-top: 2%;
    color: rgb(255, 255, 255);
    text-shadow: black 2px 3px 13px;
}

.conteudo_mensagem {
    margin-left: 4%;
    margin-top: 2%;
    font-size: 4.5mm;
    color: white;
    text-shadow: black 2px 3px 19px;
}