*{
 box-sizing: border-box;
}
body{
    border: 0;
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle, #aef09a,#f6ffea,#a8f09a);
}

.header-top{
    float: right;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100px;
    background-color: #EDF3F5;
    height:12vh;
    width: 95%;
       
}
.texto_ola{
    color: black;
    font-size: 30px;
    margin-right: 50px;
}

.botao_sair{
    justify-self: end;
    margin-bottom: 30px;
    margin-left: 30px;
}
.container{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 94vw;
    height: 80vh;
    align-items: center;
}

#caixa_carrossel{
    width: 800px;
    height: 400px;
    margin-left: 23%;
    transition: 1s ease;
    background-image: url(../imgs/Carrosel_sugestoes/1.png);
    background-size: cover;
    border-radius: 20px;
    border: 2px #aef09a solid;
}

img{
    transition: 1s ease;
}