@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

body{
    border: 0;
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle, #aef09a,#f6ffea,#a8f09a);
    overflow: hidden;
}

.header-top{
    float: right;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100px;
    background-color: #EDF3F5;
    height: 80px;
    width: 95%;
}
.texto_ola{
    color: black;
    font-size: 30px;
    margin-right: 20px;
}


.container{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.container_card{
    height: 88vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 8.5%;
}

.card {
height: 54vh;
width: 60vw;
background-color: #EDF3F5;
display: flex;
text-align: center;
justify-content: space-evenly;
flex-direction: column;
border-radius: 20px;
font-family: 'Poppins', sans-serif;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
font-size: 1.6rem;
}